backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.3.2
future==0.17.1
idna==2.8
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
iso8601==0.1.12
jedi==0.13.3
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.16.2
OpenBCI-Python==1.0.2
parso==0.3.4
pickleshare==0.7.5
prompt-toolkit==2.0.9
Pygments==2.3.1
pylsl==1.13.1
pyparsing==2.3.1
pyserial==3.4
python-dateutil==2.8.0
python-osc==1.7.0
PyYAML==3.13
pyzmq==18.0.0
requests==2.21.0
scipy==1.2.1
six==1.12.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
xmltodict==0.12.0
Yapsy==1.12.0
